<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns:mvc="http://www.springframework.org/schema/mvc"
		 xmlns:context="http://www.springframework.org/schema/context"
		 xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
	   http://www.springframework.org/schema/mvc/spring-mvc.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd">


	<context:property-placeholder location="/WEB-INF/conf/application.properties"/>

	<import resource="classpath:context/applicationContext-core.xml"/>
	<import resource="classpath:context/applicationContext-demoda.xml"/>

	<context:annotation-config/>

	<bean name="SecurityConfig" class="by.bsuir.phoneshop.web.controller.WebSecurityConfig"/>

	<bean id="themeSource" class="org.springframework.ui.context.support.ResourceBundleThemeSource">
		<property name="basenamePrefix" value="msg_"/>
	</bean>

	<bean id="themeResolver" class="org.springframework.web.servlet.theme.CookieThemeResolver">
		<property name="defaultThemeName" value="ru"/>
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/*"/>
			<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
				<property name="paramName" value="languageVar"/>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="ru"/>
		<property name="cookieMaxAge" value="-1"/>
	</bean>

	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames" value="classpath:/locales/msg"/>
		<property name="cacheSeconds" value="1"/>
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>

</beans>